body
{
  color: white;
  background: lightsteelblue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: white;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
h1
{
  background-color:steelblue;
  width: 400px;
  border-radius: 10px;
}